<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="/public/main.css")
    body

        #app 
            #panel(:style="shouldPanelShow")
                button(@click="drawBusRouteByLineId") load-bus
                #panel-toggle-button-container 
                    button(@click="togglePanel") Show / Close
            #map
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApcjsmR-PByKfkDKm__VAJjGLjMK1ASHw")
        script(src="/public/main.js")