/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  box-sizing: border-box;
  line-height: 1;
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end*/

#sidebar {
  position: absolute;
  height: 100%;
  width: 500px;
  background: #00314f;
  transition-duration: 0.3s;
  z-index: 5;
}

#map {
  height: 100vh;
  width: 100vw;
}

.bus-check {
  width: 450px;
  margin: 30px;
}

.bus-check .start {
  margin: 0 0 10px 0;
  font-size: 28px;
  color: aliceblue;
}

.bus-check .end {
  margin: 0 0 10px 0;
  font-size: 28px;
  color: aliceblue;
}

.bus-check label {
  margin-top: 5px;
  margin-right: 10px;
}

input {
  margin-left: 10px;
  border-radius: 5px;
  width: 78%;
  height: 24px;
  padding: 2.5px;
  line-height: 28px;
  vertical-align: middle;
  margin: 10px 0px;
  font-size: 24px;
}

#sidebar #btn {
  transition: .3s;
  margin: 20px 30%;
  font-size: 30px;
  color: #fccc22;
  background-color: #00314f;
  border: #fccc22 solid 3px;
  border-radius: 15px;
  border-spacing: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
#sidebar #btn:hover {
  color: #00314f;
  background: #fccc22;
}

.separator {
  height: 1px;
  background: #fccc22;
}

.bus-list {
  /* position: absolute; */
  padding: 10px 24px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* .wrap {
  width: 500px;
} */
.bus-list h2 {
  font-size: 30px;
  color: aliceblue;
  margin: 10px 0px 15px 0px;
}
.bus-list ul {
  max-width: 440px;
}
.bus-list ul i {
  margin: 14px 10px;
  color: #fccc22;
  font-size: 45px;
  vertical-align: middle;
  line-height: 40px;
}
.bus-list ul li {
  background: #00314f;
  border: solid #fccc22 1px;
  border-radius: 2px;
  /* width: 88%; */
  /* padding: 5px; */
  vertical-align: middle;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}
summary {
  color: #fccc22;
  display: flex;
  /* justify-content: left; */
  align-items: center;
  font-size: 1.8em;
  cursor: pointer;
}

.bus-list > li:hover {
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  transition: 0.5s;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.3);
}
details ::-webkit-details-marker {
  display: none;
}
details ::-moz-list-bullet {
  font-size: 0;
}
details p {
  font-size: 24px;
  color: #fccc22;
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}
/* 
details .bus-point {
  display: inline;
  width: 20px;
  height: 20px;
  background-color: #fccc22;
  border: #fccc22 solid 1px;
  border-radius: 50%;
} */

detail {
  min-height: 25%;
}
/* 
.go-or-back {
  font-size: 20px;
  color: #fccc22;
  padding: 10px 20px;
  padding-bottom: 10px;
  background-color: #00314f;
  border: solid 1px #fccc22;
  border-bottom: none;
  z-index: 9;
  position: absolute;
  top: -40px;
  left: 0;
}

.back {
  font-size: 20px;
  color: #fccc22;
  padding: 10px 20px;
  padding-bottom: 10px;
  background-color: #00314f;
  border: solid 1px #fccc22;
  z-index: 9;
  position: absolute;
  top: -40px;
  left: 80px;
} */

.go-or-back {
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: space-around;
  z-index: -20;
}

.go, .back {
  transition: .5s;
  width: 50%;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #fccc22;
  line-height: 2em;
  border-bottom-width: 0.1em;
}

.go:hover, .back:hover {
  transition: .5s;
  background: #fccc22;
  color: #00314f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.go-or-back-active{
  transition: .5s;
  background: #fccc22;
  color: #00314f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#sidebar-toggler {
  position: absolute;
  top: 12%;
  left: 500px;
  padding: 40px 10px;
  background-color: inherit;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
#sidebar-toggler > i {
  color: #fccc22;
  font-size: 2em;
}

.slide-toggle {
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
  transition: all 0.3s;
}

/* for vue-tab */
.vue-tabs .nav-tabs {
  border-color: #cea618;
}

.wrap li {
  margin: 10px 0;
}

.route-search-container > input {
  margin: 40px;
  padding: 5px;
}

.loading-container {
  height: 100px;
  width: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 6px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top-color: #fccc22;
  border-left-color: #fccc22;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.estimate-time-list {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.estimate-time-li {
  
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.3em;
  margin: 5px 0;
  padding: 5px 10;
  border: 1px solid black;
}

.stopName {
  margin-left: 10px;
}
.stopTime {
  margin-right: 10px;
}

.from-to {
  font-size: 1.4em;
  color: white;
  text-align: center;
  display: block;
}

.userAddress {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.city-select-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.city-select {
  font-size: 0.8em;
  padding: 10px 15px;
  color: white;
  background: #00314f;
  border: 1px solid #fccc22;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
}

.city-select:hover {
  background: #fccc22;
  color: #00314f;
}

.city-select-active {
  background: #fccc22;
  color: #00314f;
}